gitignored.*
source/resources/
__pycache__
.ipynb_checkpoints
source/webscraping/streaming_service_content.py
notebooks/Old Ratings.ipynb
notebooks/B-Movies.ipynb
notebooks/Tagline of Terror.ipynb
v2/source/webscraping/streaming_content.py
v2/source/webscraping/webscraping_utils.py
v2/source/util/dataclasses.py
